<!-- Footer -->
<div class="vg-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 py-3">
        <div class="footer-info">
          <p>Where to find me</p>
          <hr class="divider">
          <p class="fs-large fg-white">1600 Amphitheatre Parkway Mountain View, California 94043 US</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>Follow me</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/serigne-saliou-mback%C3%A9-ndiaye-7ba1a6214"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
              <a target="_blank" class="mx-3" href="https://wa.me/message/LXGKJWMIVXZGE1"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
              <a target="_blank" href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>Contact me</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li></li>
            <li>(+221) 78 480 54 88</li>
            <li>(+221) 76 468 44 15</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12">
        <p class="text-center mb-0 mt-4">Copyright &copy;2023</p>
      </div>
    </div>
  </div>
</div> <!-- End footer -->
