<!-- Page Service -->
<div class="vg-page page-service" id="services">
  <h1 class="text-center wow fadeInUp">Services</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 wow fadeInUp">
        <div class="card card-body align-items-sm-center">
          <div class="iconic">
            <span class="ti-desktop"></span>
          </div>
          <h4 class="fg-theme">Web Development</h4>
<!--          <a href="#" class="btn btn-theme btn-rounded">Read More</a>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp">
        <div class="card card-body align-items-sm-center">
          <div class="iconic">
            <span class="ti-file"></span>
          </div>
          <h4 class="fg-theme">Design</h4>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp">
        <div class="card card-body align-items-sm-center">
          <div class="iconic">
            <span class="ti-vector"></span>
          </div>
          <h4 class="fg-theme">UI/UX</h4>
        </div>
      </div>

    </div>
  </div>
</div> <!-- End page services -->
